<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_PATH" value="C:/Users/JMH/projects/LOG"/>
    <property name="LOG_FILE_NAME" value="practice"/>
    <property name="LOG_PATTERN" value="%-5level %d{yyyy-MM-dd HH:mm:ss} [%thread] [id=%mdc{REQUEST_ID}] [%method:%line] - %msg%n"/>
    <property name="LOG_LEVEL" value="INFO"/>

    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log
            </fileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <appendLineSeparator>true</appendLineSeparator>
                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                    <prettyPrint>true</prettyPrint>
                </jsonFormatter>
                <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
            </layout>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${LOG_LEVEL}</level>
        </filter>
    </appender>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
       <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%X{IP}] [%thread] %-5level [%F:%L] - %msg %n
            </pattern>
       </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console"/>
      <!--  <appender-ref ref="File"/>-->
    </root>

</configuration>